---
layout: default
---

<article class="note">
   <header>
      <h1>{{ page.title }}</h1>
      <time datetime="{{ page.last_modified_at | date_to_xmlschema }}">
         Last updated on {{ page.last_modified_at | date: "%B %-d, %Y" }}
      </time>
   </header>

   <div class="note-content">
      {{ content }}
   </div>

   {% if page.backlinks.size > 0 %}
   <div class="backlinks">
      <h3>Notes mentioning this</h3>
      {% for backlink in page.backlinks %}
      <div class="backlink-box">
         <a class="internal-link" href="{{ site.baseurl }}{{ backlink.url }}">{{ backlink.title }}</a>
         <div class="backlink-excerpt">{{ backlink.excerpt | strip_html | truncatewords: 20 }}</div>
      </div>
      {% endfor %}
   </div>
   {% endif %}
</article>
