---
layout: default
---

<article class="article">
  {% assign t = page.title | default: page.relative_path | default: page.path | split: '/' | last | replace: '.md', '' | replace: '.markdown', '' %}
  <h1>{{ t }}</h1>
  {% if page.date %}
  <time>{{ page.date | date: '%B %d, %Y' }} · {{ content | number_of_words | divided_by: 200 | at_least: 1 }} min read</time>
  {% endif %}
  
  <div class="article-content">
    {{ content }}
  </div>

  {% if page.tags.size > 0 %}
  <div class="tags">
    {% for tag in page.tags %}
    <a href="{{ site.baseurl }}/topics#{{ tag | slugify }}" class="tag">{{ tag }}</a>
    {% endfor %}
  </div>
  {% endif %}
</article>
